<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kyle | Not Found</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Quicksand:wght@300..700&display=swap");
      nav {
        background: linear-gradient(135deg, aqua, rgb(0, 47, 255));
        box-shadow: 2px 2px 5px;
        height: 80px;
        width: 100%;
        margin-bottom: 10px;
        position: relative;
        top: -25px;
      }
      nav p {
        line-height: 80px;
        margin-left: 10px;
        font-size: xx-large;
        font-family: "Pacifico", sans-serif;
        color: rgb(0, 96, 160);
      }
      .text {
        text-align: center;
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <div class="content">
      <nav><p>Kyle</p></nav>
      <div class="text">Resource Not Found :(</div>
    </div>
    <%- include("./partials/tomainpage.html") %>
  </body>
</html>
