@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Quicksand:wght@300..700&display=swap");
html {
  overscroll-behavior: none;
}
body {
  overscroll-behavior: none;
  background: whitesmoke;
}
nav {
  background: linear-gradient(135deg, aqua, rgb(0, 47, 255));
  box-shadow: 2px 2px 5px;
  height: 80px;
  width: 100%;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
nav .logo {
  margin-left: 10px;
  font-size: xx-large;
  font-family: "Pacifico", sans-serif;
  color: rgb(0, 96, 160);
}
nav .logo p {
  position: relative;
  bottom: 22px;
}

.cart {
  position: relative;
  top: 12px;
  background: whitesmoke;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  box-shadow: 1px 1px 3px;
  transition: 800ms;
  margin-right: 50px;
}

.cart .fa-solid {
  position: relative;
  top: 17px;
  left: 15px;
}
.cart:hover {
  background: aqua;
}

.content .product-info {
  height: auto;
  max-width: 800px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  margin-top: 30px;
}
.content .product-info .image {
  height: 200px;
  width: 30%;
  margin-right: 20px;
}
.content .product-info .image img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 1px 1px 3px;
}
.content .product-info .info {
  padding: 5px;
  font-family: "Nunito", serif;
  height: 100%;
  width: 60%;
  line-height: 200%;
}
.content .price {
  max-width: 800px;
  height: 100px;
  font-family: "Nunito", serif;
  font-size: 30px;
  color: blue;
  display: flex;
  justify-content: space-around;
}
.content .price p {
  margin-left: 40px;
  border-radius: 10px;
  height: 60px;
  width: 140px;
  text-align: center;
  line-height: 60px;
  box-shadow: 2px 2px 3px;
}
.content .price button {
  margin-right: 40px;
  height: 55px;
  width: 100px;
  border: 2px solid aqua;
  border-radius: 10px;
  position: relative;
  top: 30px;
  box-shadow: 2px 2px 5px aqua;
  font-family: "Nunito", serif;
  font-weight: 700;
  font-size: 15px;
  padding: 5px;
  color: rgb(0, 16, 160);
  transition: 500ms;
}
.content .price button:hover {
  border: 2px solid rgb(0, 96, 160);
  box-shadow: 2px 2px 5px rgb(0, 96, 160);
  background: aqua;
  color: black;
}
.content .name {
  height: 55px;
  max-width: 800px;
  color: blue;
  font-family: "Nunito", serif;
  font-size: 30px;
  margin-left: 20px;
}
.content .remaining {
  height: 55px;
  max-width: 800px;
  font-family: "Nunito", serif;
  font-size: 20px;
  margin-left: 20px;
  color: blue;
}
.content .remaining .get {
  color: black;
  font-size: medium;
  margin-top: -15px;
}
.content .remaining #quantity {
  float: right;
  width: 60px;
  height: 25px;
  margin-right: 90px;
  position: relative;
  bottom: 64px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}
.content .remaining #quantity:focus {
  outline: none;
}
